[submodule "dectalk"]
	path = dectalk
	url = https://github.com/dectalk/dectalk/
[submodule "testing.h"]
	path = testing.h
	url = https://github.com/djpiper28/testing.h
[submodule "orca-sm"]
	path = orca-sm
	url = https://github.com/cee-studio/orca/
